body {
  background-color: #404;
  background-image: url(541b3f8b2737eb6f2a745304c27fecf5.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

